<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body bgcolor="#f6f7f9" style="margin: 0; mso-line-height-rule: exactly;" width="100%">
<center style="width: 100%; background: #f6f7f9; text-align: left;">
    <div class="email-container" style="max-width: 600px; margin: auto;">
        <!--[if mso]>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
            <tr>
                <td>
        <![endif]-->

        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 600px;"
               width="100%">
            <!-- 1 Column Text + Button : BEGIN -->
            <tbody>


            <tr>
                <td bgcolor="#ffffff" border="1">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>

                        <tr>
                            <td style="padding: 20px  ; text-align: left; ">
                                <a href="https://www.your-talent.fr" target="_blank">
                                    <img border="0"
                                         fill=""
                                         fill="#000"
                                         height="100"
                                         src="https://your-talent-public.s3.eu-west-3.amazonaws.com/images/logo.png"
                                         style="height: auto; background: #fff; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #000;"
                                         width="100">
                                </a>
                            </td>

                        </tr>


                        <tr>
                            <td style="padding: 20px; padding-top:0px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #23395b;">

                                <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 27px; color: #23395b; font-weight: normal;">
                                    Félicitation {{ name }}.</h1>
                                <p style="width: 100px; border-top: 2px solid #71cbf4; margin: 0px"></p>

                                <p style="margin: 0px; margin-bottom: 0px; padding-bottom: 10px   ">Votre vidéo
                                    <i>{{ video['name'] }}</i> est
                                    arrivée <b>{{ top['position'] }}</b> du classement {{ top['kind'] }}.</p>
                                <p style="margin: 0px; margin-bottom: 0px; padding-bottom: 10px   ">{{
                                    top['message'] }}.</p>
                                <p style="margin: 0px; margin-bottom: 0px; padding-bottom: 10px   ">
                                    N'oubliez pas de mettre à jour vos liens vers les réseaux sociaux afin qu'il soit
                                    visible
                                    par tous.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #0a497f;">

                                <p style="margin: 0; padding-bottom: 30px">
                                    You Rock</p>
                                <p style="margin: 0; padding-bottom: 0px">
                                    L'&eacute;quipe YourTalent
                                </p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- Clear Spacer : END -->
            <tr>
                <td aria-hidden="true" height="2" style="font-size: 0; line-height: 0; background-color: #f1f1f1;">
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td aria-hidden="true" height="20" style="font-size: 0; line-height: 0;">
                    &nbsp;
                </td>
            </tr>

            {% include 'end_spacer.html' %}

            </tbody>
        </table>
        <!-- Email Body : END -->

        {% include 'footer.html' %}
    </div>
</center>
</body>
</html>
