<!-- Clear Spacer : END -->
<tr>
    <td aria-hidden="true" height="2" style="font-size: 0; line-height: 0; background-color: #f1f1f1;">
        &nbsp;
    </td>
</tr>

<tr>
    <td aria-hidden="true" height="20" style="font-size: 0; line-height: 0;">
        &nbsp;
    </td>
</tr>

<!-- 1 Column Text : BEGIN -->
<tr>
    <td bgcolor="#1492FF" style="padding-top: 10px; padding-bottom: 10px; ">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
            <tbody>
            <tr>
                <td style=" padding-left: 30px ;  text-align: left; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #fff;"
                    valign="middle">

                    <a href="https://www.facebook.com/yourtalentfrance" target="_blank"><img
                            alt="facebook"
                            border="0" height="25"
                            src="https://your-talent-public.s3.eu-west-3.amazonaws.com/images/fb.png"
                            style="height: auto; padding-right: 10px   " width="25"></a>
                    <!--                                <a href="https://blog.yourtalent.fr" target="_blank"><img-->
                    <!--                                        alt="blog"-->
                    <!--                                        border="0" height="25"-->
                    <!--                                        src="https://d1p2hlunjhw4s1.cloudfront.net/icones/png/white/icon-wordpress-white.png"-->
                    <!--                                        style="height: auto; padding-right: 10px "-->
                    <!--                                        width="25"></a>-->
                    <!--                                <a href="https://www.linkedin.com/company/yourtalent/" target="_blank"><img-->
                    <!--                                        alt="linkedin"-->
                    <!--                                        border="0" height="25"-->
                    <!--                                        src="https://d1p2hlunjhw4s1.cloudfront.net/icones/png/white/linkedin.png"-->
                    <!--                                        style="height: auto; padding-right: 10px "-->
                    <!--                                        width="25"></a>-->

                </td>
                <td colspan="2"><p style="padding-right: 40px; font-size: 14px; color: white">

                </p></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- 1 Column Text : END -->
