<!-- Email Footer : BEGIN -->
<table align="center" border="0"
       cellpadding="0" cellspacing="0" role="presentation"
       style="max-width: 680px; font-family: sans-serif; color: #888888; line-height:18px;" width="100%">
    <tbody>
    <tr>
        <td class="x-gmail-data-detectors"
            style="padding: 30px 10px;width: 100%;font-size: 12px!important; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;">
            <p> N'h&eacute;sitez pas &agrave; nous &eacute;crire pour toute question : </p>
            <a class="link" href="mailto:{{ yt_mail }}"
               style=" color:#0A497F!important; cursor : pointer!important; text-decoration:underline; font-weight: bold!important;"
               target="_blank">{{ yt_mail }}</a>

            <br><br>
            YourTalent<br>{{ address }}
            <br><br>
        </td>
    </tr>
    </tbody>
</table>
<!-- Email Footer : END -->

<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->
