<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body bgcolor="#f6f7f9" style="margin: 0; mso-line-height-rule: exactly;" width="100%">
<center style="width: 100%; background: #f6f7f9; text-align: left;">
    <div class="email-container" style="max-width: 600px; margin: auto;">
        <!--[if mso]>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
            <tr>
                <td>
        <![endif]-->

        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 600px;"
               width="100%">
            <!-- 1 Column Text + Button : BEGIN -->
            <tbody>


            <tr>
                <td bgcolor="#ffffff" border="1">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>

                        <tr>
                            <td style="padding: 20px  ; text-align: left; ">
                                <a href="https://www.your-talent.fr" target="_blank">
                                    <img border="0"
                                         fill=""
                                         fill="#000"
                                         height="100"
                                         src="https://your-talent-public.s3.eu-west-3.amazonaws.com/images/logo.png"
                                         style="height: auto; background: #fff; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #000;"
                                         width="100">
                                </a>
                            </td>

                        </tr>


                        <tr>
                            <td style="padding: 20px; padding-top:0px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #23395b;">

                                <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 27px; color: #23395b; font-weight: normal;">
                                    Merci de rejoindre notre communeauté.</h1>
                                <p style="width: 100px; border-top: 2px solid #71cbf4; margin: 0px"></p>
                                <p style="margin: 0px; padding-top: 20px; padding-bottom: 10px ">
                                    Bonjour {{ name }},
                                </p>
                                <p style="margin: 0px; margin-bottom: 0px; padding-bottom: 10px   ">Pour valider votre
                                    adresse email et acc&eacute;der &agrave; votre compte YourTalent, veuillez cliquer
                                    sur ce lien :</p>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 20px; padding-top: 0px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #0a497f;">
                                <!-- Button : BEGIN -->
                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                       role="presentation" style="margin: auto; ">
                                    <tbody>
                                    <tr>
                                        <td class="button-td"
                                            style="border-radius: 3px; background: #57990c; text-align: center;">
                                            <a class="button-a"
                                               href="{{ url }}"
                                               style="background: #57990c; border: 15px solid #57990c; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;">
                                                <span class="button-link" style="color:#ffffff;">&nbsp;&nbsp;&nbsp;&nbsp;VALIDER MON INSCRIPTION&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- Button : END -->
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #0a497f;">

                                <p style="margin: 0; padding-bottom: 30px">
                                    A tr&egrave;s vite</p>
                                <p style="margin: 0; padding-bottom: 0px">
                                    L'&eacute;quipe YourTalent
                                </p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            {% include 'end_spacer.html' %}

            </tbody>
        </table>
        <!-- Email Body : END -->
        {% include 'footer.html' %}
    </div>
</center>
</body>
</html>
